$primary-color: #0080bd;

$dark-color-text: #000000;
$light-color-text: #ffffff;
$light-secondary-color-text: #a8a8a8;

$background-color-primary: #ffffff;
$dark-background-color: #082e4a;

$top-menu-height: 45px;
